# m  h     dom mon dow command

# make torrents
  */10 *  *   *   *     /home/mirror/bin/make-torrents > /dev/null 2> /dev/null

# These rsync cron jobs are now run by a small script a2brenna wrote
# that works a bit more intelligently than cron. For one thing, it
# won't kick off a sync when one's already running. Please see
# ~mirror/merlin.
#  -- mspang

# regenerate mirror index at 5:40 am on 14th & 28th of every month
# feel free to run this manually if you've added or removed an
# archive or some such thing
#
# Documented here: http://wiki.csclub.uwaterloo.ca/Mirror#Index
40  5  */14  *  *    cd /home/mirror/mirror-index && /home/mirror/mirror-index/make-index.py
