# m h    dom mon dow command
  0 *    *   *   *   ~/bin/csc-sync-debian debian gulus.usherbrooke.ca debian ftp-master.debian.org
  0 *    *   *   *   ~/bin/csc-sync-debian debian-multimedia mirror.home-dn.net debian-multimedia roxane.home-dn.net
  0 *    *   *   *   ~/bin/csc-sync-debian debian-backports www.backports.org backports.org www.backports.org
  0 *    *   *   *   ~/bin/csc-sync-debian debian-volatile volatile.debian.org debian-volatile volatile-master.debian.net
  0 *    *   *   *   ~/bin/csc-sync-debian debian-security security.debian.org debian-security security-master.debian.org
  0 *    *   *   *   ~/bin/csc-sync-debian debian-unofficial ftp.debian-unofficial.org debian ftp-master.debian-unofficial.org
  0 0    *   *   *   ~/bin/csc-sync-debian emdebian www.emdebian.org emdebian
  0 *    *   *   *   ~/bin/csc-sync-debian ubuntu archive.ubuntu.com ubuntu drescher.canonical.com
  0 */12  *   *   *   ~/bin/csc-sync-standard gobuntu-releases cdimage.ubuntu.com cdimage/gobuntu/releases/
  0 */12  *   *   *   ~/bin/csc-sync-standard ubuntu-releases releases.ubuntu.com releases
  0 */12  *   *   *   ~/bin/csc-sync-standard xubuntu-releases cdimage.ubuntu.com cdimage/xubuntu/releases/
  0 */12  *   *   *   ~/bin/csc-sync-standard CPAN rsync.nic.funet.fi CPAN
  0 */12  *   *   *   ~/bin/csc-sync-standard openoffice ftp.ussg.iu.edu openoffice
